################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Fraesla.BookStore/.vs/Fraesla.BookStore
/Fraesla.BookStore/Fraesla.BookStore/obj
